* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight:bolder;
}

h3 {
  color: green;
 }


.container {
  text-align: center;
}

/* write your CSS here */
